:root {
    --bg: #f4f4f4;
    --text: #222;
    --card: white;
}
[data-theme="dark"] {
    --bg: #111;
    --text: #fff;
    --card: #1e1e1e;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: var(--bg);
    color: var(--text);
    transition: .3s;
}

/* Header */
header {
    text-align: center;
    padding: 40px 10px;
}
header h1 {
    font-size: 2.6rem;
}

/* Botón modo oscuro */
.theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
    background: var(--card);
    border: 1px solid var(--text);
    font-weight: bold;
}

/* Menú */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 40px;
}

.btn-menu {
    width: 300px;
    padding: 18px;
    text-align: center;
    border-radius: 12px;
    background: var(--card);
    color: var(--text);
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 5px 14px rgba(0,0,0,0.25);
    transition: .3s;
    cursor: pointer;
}
.btn-menu:hover {
    transform: scale(1.05);
}

/* Contenido interno */
.content {
    display: none;
    padding: 30px;
    background: var(--card);
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
    margin: 30px auto;
    max-width: 850px;
    color: var(--text);
    animation: flipPage .45s ease;
}

/* Animación tipo libro */
@keyframes flipPage {
    0% {transform: rotateY(90deg); opacity: 0;}
    100% {transform: rotateY(0); opacity: 1;}
}

/* Botones internos */
.back-btn {
    margin-top: 15px;
    padding: 8px 12px;
    background: crimson;
    color: white;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
}

/* Índice de títulos */
.index-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #aaa;
    transition: .2s;
}
.index-item:hover {
    background: #ffd700;
}

/* Guardado de progreso */
.save-btn {
    background: green;
    padding: 6px 10px;
    border-radius: 8px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}
.autor {
    text-align: right;
    font-style: italic;
    color: gold;
    opacity: 0.9;
    margin-top: 5px;
    font-weight: bold;
}
